.Stars {
    max-width: 19rem;
    display: flex;
}

@media screen and (max-width: 768px) {
    .Stars{
        flex-direction: column;
    }
}

.Stars-label{
    flex: 1;
    font-weight: 350;
    font-size: medium;
    margin-right: 10px;
}

.Stars-stars{
    flex: 1;
    /* min-width: 8.2rem; */
}

.Stars-stars > svg {
    margin-right: .5rem;
    color: rgb(228, 225, 225);
}

.Stars-stars > svg.picked {
    margin-right: .5rem;
    color: rgb(204, 157, 96);
}